<div class="background-color">
  <div class="homepage">
        <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        <div class="navbar-header">
        <h3>ICON</h3>
        </div>

        <div class="list-inline" style="margin-top: 30px;">
          <ul class="nav navbar-nav list-inline" style="display: inline;">
            <li><a href="#"><button type="button" class="btn btn-WHITE">LOG IN</button></a>
            </li>
            <li><a href="#" >HOW IT WORKS</a>
            </li>
            <li><a href="#" >ABOUT US</a>
            </li>
            <li><a href="#" >FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
